<!-- NAVIGATION -->
<app-navigation></app-navigation>

<!-- MAIN CONTENT -->
<div class="container p-4">
  <div class="row">
    <div class="col-md-5 text-center">
      <app-task-form></app-task-form>
    </div>
    <div class="col-md-7">
      <app-tasks-list></app-tasks-list>
    </div>
  </div>
</div>